@import "colors";

.cart {
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;

  > main {
    padding: 1rem;
    padding-left: 5rem;
    padding-right:5rem ;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > h1 {
      color: $tertiary;
      font: 100 2rem "Roboto";
    }
  }

  > aside {
    border-radius: 100px 0 0 100px;
    background-color: $primary;
    color: $tertiary;
    height: 100%;
    width: 100%;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.182);
    display: flex;
    justify-content: center;
    flex-direction: column;
    > h2 {
      margin: 1rem;
      margin-left: 42px;
      font: 100 1.8rem "Roboto";
      letter-spacing: 2px;

      &:last-of-type {
        font-weight: 600;
      }
    }
  }
}

.cartItem {
  background-color: rgb(240, 236, 236);
  width: 100%;
  border-radius: 10px;
  height: 50%;
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
 
  h3{
    color: rgb(19, 18, 18);
  }
  article {
 >h3 {
    // width: 100%;
    // height: 200px;
    // object-fit: contain;

  }
  p{
  color: rgb(18, 18, 18);
}
  }
  > div {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      width: 30px;
      height: 30px;
      border: none;
      background-color: black;
      color: $tertiary;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: $primarydark;
      }
    }

    p {
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
      color: black;
    }
  }

  > svg {
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin: auto;

    &:hover {
      color: $secondary;
    }
  }

}
// #imageid{
//   height: "150px";
//    width:"100%";
//     object-fit:"cover";
//      border-radius:"xl" ;
// }
.boxm{
  border: 1.5px solid black;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.9);;
}
.btnp{
  color: black;
  
}
.btnp:hover {
  color: $secondary;
}
